* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --redhover: #f46e6ec2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: -webkit-linear-gradient(#0a433f, #11789a);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /*background-image: url('pics/venom1.jpeg');*/
  background-blend-mode: multiply;
  background-size: cover;
  font-size: 1.5rem;
  text-align: flex;
  color: aliceblue;
}
#box {
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: #083b4c27;
}

h1 {
  padding: 1rem 0;
  margin: 0 auto;
  font-weight: 400;
  color: white;
}

/* JOHNS TO DO LIST HEADING */
h1 {
  text-align: left;
}

h4 {
  padding-top: 0.4rem;
  font-weight: 300;
  font-size: 1.4rem;
}
/*BUTTON,INPUT,SELECTION*/
input,
select,
#a,
button {
  flex: 1 1 0%;
  border-radius: 0.6rem;
  font-weight: 600;
  font-size: 1.25rem;
  max-width: 400%;
  width: 100%;
  margin: 0 auto;
  color: aliceblue;
  margin: auto;
  height: 3rem;
  border: 1px solid #083b4c;
}
#a {
  padding: 0.4em;
}
#input {
  color: #083b4c;
  font-weight: 300;
}

input {
  padding-left: 1rem;
}
#inputbutton {
  background-color: rgba(0, 0, 0, 0);
  padding-left: 2%;
  width: 6rem;
}
#inputbutton:hover,
.menu li #a:hover {
  /* color: var(--redhover); */
  opacity: 0.8;
  cursor: pointer;
  background-color: #083b4c51;
}

/*HEADER  */
.menu {
  height: 6rem;
  width: 100%;
  padding: 10px;
  padding-right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex: 1 1 0%;
  background: -webkit-linear-gradient(#04a961 1%, #0d766f, #055853);
}

.menu li {
  /* << Height of the border by hovereffect*/
  font-size: 1rem;
  position: relative;
  display: flex;
  padding-block: 0;
  padding-top: -2rem;
}
.menu li #a {
  color: aliceblue;
  font-weight: 800;
  width: 6rem;
  height: 3rem;
}

/*LIST*/
#ul {
  margin-top: 0;
  justify-content: left;
  background-color: hsla(176, 100%, 63%, 0.055);
  border-radius: 10px;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 2rem 1rem;
}
#ul li {
  display: inline;
  padding-right: 0.2%;
  flex: 1 1 0%;
  color: rgb(142, 197, 171);
  font-size: 1rem;
  padding-left: 1rem;
}
